.profile-form-container {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    min-height: 100vh;
}
.profile-card{
    width: 100%;
    box-sizing: border-box;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0.1);
    margin-bottom: 20px;
    
}
.profile-form-container h3{
    text-align: center;
    font-weight: 600;
}
.form-fields-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 10px;
}
.form-field-item{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.form-field-item:nth-child(n+4) {
    grid-column: span 1;
}
.form-field-item input,
.form-field-item select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;


}
.btn-submit,
.btn-reset{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    background-color: hsl(224, 30%, 27%);


}
.btn-submit{
    background-color: #4caf50;
    color: aliceblue;
}
.btn-reset{
    background-color: #4caf50;
    color: aliceblue;
}
.btn-submit:hover{
    background-color: #45a049;
}
.btn-reset:hover{
    background-color: #45a049;
}
.required{
    color: red;
}
.form-section h4{
    margin: top 20px; 
    font-size: 24px;
    font-weight: 600;

}
.skill-input-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.skill-input-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}
.skill-input-container button {
  width: 100px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Hanken Grotesk", sans-serif;
}
.add-skill-button {
  width: 100px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Hanken Grotesk", sans-serif;
}